/* body .stMarkdownContainer {
    font-size: 40px !important;
} */

body .stMarkdown {
    font-size: 18px;
}


html {
    font-size: 18px;
}

/* Reduce padding and margin for slider labels */
.st-emotion-cache-xujc5b p {
    font-size: 18px !important;
}

.stSlider .stSlider-label {
    margin-top: 2rem !important;
    font-size: 18px !important;
    /* margin-bottom: -20px !important;
    margin: 0px !important;
    padding-top: -20px !important;
    padding: -50px !important;
    padding-bottom: -20px !important; */
}

/* Slider label margins */
.st-emotion-cache-1bw7e3x {
    margin-top: 0.2rem;
    margin-bottom: 0px;
}

/* Reduce gap between elements */
[data-testid=column]:nth-of-type(n) [data-testid=stVerticalBlock] {
    gap: 0.5rem;
}

.table {
    margin: 0 auto;
    text-align: center;
}

/* Latex increase margins - doesn't work */
span.math.math-inline span.katex span.katex-mathml {
    margin: 20px !important;
}


th {
    background-color: lightblue;
    text-align: center;
    padding: 1px 8px !important;
    border: 1px solid #ddd !important;
}

td {
    /* top/bottom and left/right together */
    padding: 2px 8px !important;
    border: 1px solid #ddd !important;
}